@import url(https://fonts.googleapis.com/css?family=Abel);

h1 {
  font-family: 'Abel', sans-serif;;
  text-align: center;
}

.logo-size {
  width: 55px;
  height: 55px;
  padding-bottom: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.banner {
  font-family: 'Abel', sans-serif;
  height: 400px;
  background-image: url("dist/images/turnstile.jpg");
  background-size: cover;
  background-position: center;
  .slogan {
    position: absolute;
    // border: $standard-border;
    top: 150px;
    left: 25%;
    width: 50%;
    height: 250px;
    text-align: center;
    background-color: $translucent-white;
    span {
      font-size: 24px;
      line-height: 100px;
    }
    .description {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  border: {
    top: $standard-border;
    bottom: $standard-border;
  }
}

.container {
  text-align: center;
  font-family: 'Abel', sans-serif;
  .icon {
    display: inline-block;
    margin: 3%;
    border: $standard-border;
    font-size: 32px;
    width: $icon-square-length;
    height: $icon-square-length;
    padding-top: 50px;
    &--small {
      font-size: 14px;
      margin: 7%;
    }
  }
  img {
    width: 120px;
    height: 120px;
  }
}

.square {
  width: 100px;
  height: 100px;
  background: red;
}
